<!DOCTYPE HTML>
<html>
	<head>
    <meta charset="utf-8" />
    <title>PriCoSha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Unica+One" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

    <style>
    	body {
    		background: #EFEFEF;
    	}
    	#header {
    		padding: 10px;
    		background: white;
    	}
    	.ui.header.title {
    		font-family: 'Unica One', cursive;
    		width: 75vw;
    		margin: auto;
    		color: #FF3B3F;
				letter-spacing: 3px;
    	}

    	.shortcuts {
    		float: right;
    		color: gray;
    	}

    	.shortcuts .icon {
    		cursor: pointer;
    	}

    	.greeting {
    		width: 35vw;
    		text-align: center;
    		margin: auto;
    		padding: 20px;
    		background: #CAEBF2;
    		border-radius: 2px;
    		border: solid 2px white;
    		margin-top: 20px;
    	}

    	.greeting .ui.header {
    		font-family: 'Patua One', cursive;
    		color: #A9A9A9;
    	}

    	.user-actions .ui.basic.button {
    		box-shadow: 0 0 0 1px #FF3B3F inset;
    		background: white !important;
    	}
  	</style>
  </head>
  <body>
  	<div id="header">
  		<h1 class="ui header title"> PriCoSha 
  			<div class="shortcuts">
	  			<i class="users icon"></i>
	  			<i class="home icon"></i>
	  			<a href="/logout"><i class="sign out icon"></i></a>
	  		</div>
  		</h1>
  	</div>
  	<div id="content">
  		<div class="greeting">
  			<h1 class="ui header"> Hello <%= username %> </h1>
  			<div class="user-actions">
  				<div class="ui compact labeled icon basic button">
  					<i class="upload icon"></i> Add Content
  				</div>
  				<div class="ui compact labeled icon basic button">
  					<i class="add square icon"></i> Create FriendGroup 
  				</div>
  			</div>
  		</div>
  		<div class="ui grid">
  		</div>
  	</div>
  </body>
</html>
